<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace : 영역을 부르는 별칭
	parameterType : 이 명령을 실행하기 위해 필요한 데이터의 형태
	resultType : 기대되는 결과물의 형태(목록이든 아니든 dto 형태로 표기)
	
	태그때문에 못쓰게 되는 기호들은 다음의 영역으로 해결이 가능

	<![CDATA[
		SQL 구문
	]]>
	
	형태에 따라 파라미터를 다르게 설정할 수 있다
	- # 은 형태를 추론하여 자동으로 따옴표 설정 및 인코딩 처리를 수행
	- $ 는 값을 있는 그대로 출력하는 명령이므로 주로 "항목"에 사용
		- $ 는 SQL Injection 이라는 해킹공격에 매우 취약하므로 사용에 주의 
 -->

<mapper namespace="member" >
	
		<!-- 회원가입 -->
		<insert id="regist" parameterType="memberDto">
			insert into member values(
			#{id},
			#{pw},
			#{name},
			#{nick},
			#{email},
			#{phone},
			#{post},
			#{basic_addr},
			#{extra_addr},
			0,
			'member',
			#{pets},
			sysdate,
			sysdate,
			'true',
			'true'			
			)
		</insert>
	
	<select id = "login" parameterType="memberDto" resultType="memberDto">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	
	<!-- 내정보조회 -->
	<select id="mylist" parameterType="String"  resultType="memberDto">
		select * from member where id=#{id}
	</select>
	
	<!-- 반려동물조회 -->
	<select id="mylistpet" parameterType="String" resultType="petImagePetDto">
		select 
			P.pet_no,
			P.member_id,
			P.name,
			P.age,
			P.type,
			P.ect,
			I.pet_image_no,
			I.savename,
			I.filetype,
			I.filesize,
			I.uploadname
		from 
			pet P
			 	left outer join pet_image I
				on P.pet_no=I.pet_image_pet_no
		where 
			P.member_id=#{id}
	</select>
	
	<!-- 최종로그인 일시 업데이트 -->
	<update id="updatelastlogin" parameterType="String" >
		update member set lastlogin=sysdate where id=#{id}
	</update>
	
	<!-- 아이디찾기 -->
	<select id="findid" parameterType="memberDto" resultType="String">
		select id from member 
		where name= #{name} and email=#{email} and phone=#{phone}
	</select>

	<!--  비밀번호 변경 -->
	<update id="pwchange" parameterType="memberDto">
		update member set pw = #{pw} where email = #{email}
	</update>

	<!-- 내정보 수정 -->
	<update id="mylistchange" parameterType="memberDto">
			update member set
				name = #{name},
				nick= #{nick},
				email = #{email},
				phone = #{phone},
				post = #{post},
				basic_addr = #{basic_addr},
				extra_addr = #{extra_addr}				
				where id = #{id}	
	</update>
	

	<!-- 펫등록 -->
	<insert id="pet_regist" parameterType="petDto">
		insert into pet values(pet_no_seq.nextval,#{member_id},#{name},#{age},#{type},#{ect})
	</insert>
	
	<!-- 아이디 중복검사 -->
	<select id="userIdCheck" parameterType="String" resultType="int">
		select count(*) from member where id=#{user_id}
	</select>

	<!-- 회원탈퇴처리 -->
	<delete id="memberdelete" parameterType="memberDto">
		delete from member where id=#{id} and pw=#{pw}
	</delete>
	
	<!-- 회원 탈퇴되었는지 검사 -->
	<select id="idExist" parameterType="String" resultType="int">
		select count(*) from member where id=#{id}
	</select>
	
	<!-- 펫 번호 구해오기 -->
	<select id="pet_no" resultType="int" parameterType="map">
		select pet_no from(
			select rownum as rn, E.* from (
    			select * from pet order by pet_no desc
			) E 
		)where rn=1	
	</select>
	
	<!-- 펫 이미지 등록 -->
	<select id="pet_image_regist" parameterType="petImageDto">
		insert into pet_image values(
			pet_image_no_seq.nextval,
			#{pet_image_pet_no},
			#{savename},
			#{filetype},
			#{filesize},
			#{uploadname}
		)
	</select>
	
	<!-- 해당 회원의 회원 이미지 번호 구해오기 -->
	<select id="member_image_no" parameterType="String" resultType="int"> 
		select member_image_no from member_image where member_image_member_id=#{id} 
	</select>
	
	<!-- 회원이미지 한개씩 불러오기 -->
	<select id="getmember_image" parameterType="int" resultType="memberImageDto">
		select 
			*
		from
			member_image
		where 
			member_image_no=#{member_image_no}
	</select>
	
	<!-- 펫번호로 펫 이미지 번호 구하기 -->
	<select id="pet_image_no" parameterType="int" resultType="int">
		select pet_image_no from pet_image where pet_image_pet_no=#{pet_no}
	</select>
	
	<!-- 펫이미지 한개씩 불러오기 -->
	<select id="getpet_image" parameterType="int" resultType="petImageDto">
		select 
			* 
		from
			pet_image
		where
			pet_image_no=#{pet_image_no}
	</select>
	
	<!-- 펫정보 가지고오기 -->
	<select id="getpet" parameterType="String" resultType="petImagePetDto">			
		select 
			P.pet_no,
			P.member_id,
			P.name,
			P.age,
			P.type,
			P.ect,
			I.pet_image_no,
			I.savename,
			I.filetype,
			I.filesize,
			I.uploadname
		from 
			pet P
			 	left outer join pet_image I
				on P.pet_no=I.pet_image_pet_no
		where 
			P.pet_no=#{pet_no}
	</select>
	
	<!-- 펫정보수정 -->
	<update id="petchange" parameterType="petDto">
		update pet set
				name = #{name},
				age= #{age},
				type = #{type},
				ect = #{ect}		
				where pet_no = #{pet_no}	
	</update>
	
	<!-- 회원이미지정보 -->
	<select id="getImageInfo" resultType="memberImageDto" parameterType="int">
		select * from member_image where member_image_no=#{member_image_no}
	</select>
	
	<!-- 회원 이미지 등록 -->
	<insert id="member_image_regist" parameterType="memberImageDto">
		insert into member_image values(
			member_image_no_seq.nextval,
			#{member_image_member_id},
			#{savename},
			#{filetype},
			#{filesize},
			#{uploadname}
		)
	</insert>
	
	<!-- 회원 이미지 수정 -->	
	<update id="member_image_change" parameterType="memberImageDto">
		update member_image set
			filetype=#{filetype},
			filesize=#{filesize},
			uploadname=#{uploadname}
			where member_image_no=#{member_image_no}
	</update>
	
	<!-- 펫이미지정보 -->
	<select id="getPetImageInfo" resultType="petImageDto" parameterType="int">
		select * from pet_image where pet_image_pet_no=#{pet_image_pet_no}
	</select>
	
	<!-- 펫이미지수정 -->
	<update id="pet_image_change" parameterType="petImageDto">
		update 
			pet_image 
		set
			filetype=#{filetype},
			filesize=#{filesize},
			uploadname=#{uploadname}
		where 
			pet_image_no=#{pet_image_no}
	</update>
	
	<!-- 펫이미지등록(추가) -->
	<insert id="pet_image_regist2" parameterType="petImageDto">
		insert into 
			pet_image
		values(
			pet_no_seq.nextval,
			member_id=#{member_id},
			name=#{name},
			age=#{age},
			type=#{type},
			ect=#{ect}
		)
	</insert>
	
	<!-- 펫 삭제 -->
	<delete id="pet_delete" parameterType="int">
		delete from pet where pet_no=#{pet_no}
	</delete>
	
	<!-- 펫숫자세기 -->
	<select id="pet_exist" parameterType="String" resultType="int">
		select count(*) from pet where member_id=#{id}
	</select>
	
	<!-- 펫 존재여부에 따라 멤버의 반려동물여부 값 바꾸기 -->
	<update id="pet_Yes" parameterType="String">
		update member set pets='예' where id=#{id}
	</update>
	<update id="pet_No" parameterType="String">
		update member set pets='아니오' where id=#{id}
	</update>
</mapper>





