<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="qna">
<!-- CRUD -->
<!-- 게시글 작성 -->
	<insert id="qnainsert" parameterType="QnaVO">
		insert into qna (
		qna_no,
		qna_writer,
		qna_title,
		qna_head,
		qna_content,
		wdate 
		)
			values (
			#{qna_no},
			#{qna_writer},
			#{qna_title},
			#{qna_head},
			#{qna_content},
			sysdate
			)
	</insert>
	
	<!-- 게시글 번호 받아오기 -->
	<select id="getSequence" resultType="int">
		select qna_no_seq.nextval from dual
	</select>
	
	<!-- 이미지 등록 -->
	<insert id="qnafile" parameterType="qnafileDto">
		insert into qna_file values(
		qna_file_no_seq.nextval,
		#{qna_qna_no},
		#{uploadname},
		#{savename},
		#{filetype},
		#{filesize}
		)
	</insert>
	
	<!-- 댓글 등록 -->
	<insert id="writeReply" parameterType="QnaReplyVO">
		insert into qna_reply(
		reply_no,
		origin,
		reply_writer,
		content,
		wdate
		)
		values(
		reply_no_seq.nextval,
		#{origin},
		#{reply_writer},
		#{content},
		sysdate
		)
	</insert>
	
	<!-- 댓글 조회 -->
	<select id="readReply" resultType="QnaReplyVO">
		select 
		reply_no, 
		reply_writer,
		content,
		wdate
		from qna_reply where origin = #{origin}
	</select>
	
	<!-- 댓글 수정 -->
	<update id="updateReply" parameterType="QnaReplyVO">
		update qna_reply set content =#{content}
		where reply_no = #{reply_no}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="">
		delete from qna_reply where reply_no = #{reply_no}
	</delete>
	
	<!-- 게시글 검색 목록 조회 -->
	<select id="qnalistAll" parameterType="map" resultType="QnaVO">
		select*from (
		select rownum as rn, A.* from(
		select
		qna_no,qna_title,qna_head,qna_content,wdate,qna_writer
		from Qna
		where ${type} like '%'||#{keyword}||'%'
		order by qna_no desc, wdate desc
		) A
		) where rn between #{start} and #{finish}
	</select>
	
	<!-- 게시글 목록 -->
	<select id="getList" resultType="QnaVO" parameterType="map">
		select*from (
		select rownum as rn, A.* from(
		select*
<!-- 		faq_no,faq_title,faq_head,faq_content,wdate,member_id -->
		from Qna
		order by qna_no desc, wdate desc
		) A
		) where rn between #{start} and #{finish}
	</select>
	
	
	<!-- 게시글 레코드 갯수 조회 -->
	<select id = "getCount" resultType="int" >
		select count(*) from Qna
	</select>
	
	<!-- 게시글 상세보기 조회 -->
	<select id = "qnaview" resultType="QnaVO">
		select*from Qna where qna_no= #{qna_no}
	</select>
	
	<!-- 게시글 수정 -->
	<update id="qnaupdate" >
		update Qna set
		qna_title = #{qna_title},
		qna_head = #{qna_head},
		qna_content = #{qna_content}
		where qna_no= #{qna_no}
	</update>
	
	<!-- 게시글 삭제 -->
	<delete id="qnadelete">
		delete from Qna where qna_no = #{qna_no}
	</delete>


</mapper>