/* view.css */

* {
	box-sizing: border-box;
}

.notice_table {
	width: 80%;
	border-top: 1px solid #444444;
	border-collapse: collapse;
	border-color: #BDBDBD;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
.no-tr {
	border-bottom: none;
	padding: 10px;
	text-align: left;
	border-color: #BDBDBD;
}

.tr1 {
	border-bottom: 1px solid #444444;
	padding: 10px;
	text-align: left;
	border-color: #BDBDBD;
}

.td2 {
	text-align: right;
	border-bottom: 1px solid #444444;
	padding: 10px;
	border-color: #BDBDBD;
}
.td3 {
	text-align: left;
	border-bottom: 1px solid #444444;
	padding: 10px;
	border-color: #BDBDBD;
}
.no-td{
	border: none;
}
.mar-td{
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: black;
	margin-left: auto;
	margin-right: auto;
}

hr {
	width: 80%;
}

.no_inputline {
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
	width:100px;
	text-align: left;
}

.btn {
	display: white;
	width: 120px;
	height: 10x;
	line-height: 20px;
	border: 1px #3399dd solid;
	background-color: white;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	color: #1482e0;
	transition: all 0.9s, color 0.3;
}

.btn:hover {
	color: white;
}

.hover3:hover {
	background-color: #1482e0;
}

textarea {
	width: 91.72%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
	border: solid 2px #1482e0;
	border-radius: 5px;
	font-size: 16px;
	resize: both;
	margin: 0px; 
	vertical-align: middle;
}
.con{
height: 400px;
}